.App {
  text-align: center;
}
/* .cd {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 30%;
  margin: 10px;
}
/* .ct{
  color: gray;
  } */
/* .feed {
  width: 93%;
}
.wd1 {
  width: 30%;
}
hr {
  background-color: #0755ad;
  height: 10;
}
.tw {
  width: 50%;
} */
